@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600|Merriweather:400,100,300,600);

a {
  text-decoration: none;
}

.icon:hover {
  fill: #3498db;
}

.icon {
  fill: #000000;
}

body {
  text-align: right;
  font-family: helvetica;
  font-weight: 100;
  font-family: 'Merriweather', serif;
}

h1, h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  font-variant: small-caps;

}

h4{
  color: #e74c3c;
}

p {
  margin: 0;
  padding: 0;
}

.screenshot {
  opacity: 0;
}
.screenshot:hover {
  opacity: 1;
}

svg {
  max-height: 100%;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.footer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}


@media (min-width: 500px) {
  h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
 }
}

@media (min-width: 800px) {
  h1 {
    font-size: 5.5em
 }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .header {
      max-width: 1000px;
      margin: 0 auto;

    }

    .container {
      margin: 0 auto;
      max-width: 1000px;
      padding: 0;
      margin: 0 auto;
    }

}
